


/*Escritorio*/
@media (min-width: 1199.98px)  {
    body{background: red;}
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: orange;}
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: blue;}
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    body{background: white;}

    /*NAV*/
    .navbar-fixed-top {position: fixed}
    
    .bg-light {padding-top: 5px !important;
        padding-right: 20px !important;
        padding-bottom: 15px !important;
        padding-left: 20px !important;     
        background-color: rgba(230, 32, 73, 1) !important;} 

    navbar-light .navbar-nav .nav-link { color: white;  
        font-weight: 600; font-size: 4rem; }    

    div#navbarNavAltMarkup {
        display:flexbox; justify-content: center; }

    a.nav-item .nav-link {margin: 15px 0px 15px 0px}

    span.navbar-toggler-icon {font-size: 2rem; color: white !important;}

    .navbar-toggler {color: white important!;}

    .navbar-light .navbar-nav .nav-link  {
        color: white;}

    .navbar-brand {padding-bottom: 15px !important;
    scroll-padding-top: 10px !important;}
    
    /*FILETES*/
    hr.nav {padding: 0px; margin: 12px 0px 12px 0px; width:100%; 
            border: 0.5px dashed rgba(255, 255, 255, 0.2);}

    hr.filete {padding: 0px; margin: 12px 0px 12px 0px; width:100%; 
        border: 0.5px solid rgba(230, 32, 73, 1);}  

    div.containerButton {display:flex; justify-content: center;}

    /*BOTONES*/
    button.btn.btn-primary.btn-lg { width: 250px; height: 100px;
        padding: 0px 40px 0px 40px; margin: 30px 0px 0px 0px;
        background: rgba(230, 32, 73, 1); font-weight: 600;
        border-color:  rgba(230, 32, 73, 1);}

    button.btn.btn-secondary.btn-lg { width: 250px; height: 100px;
        padding: 0px 40px 0px 40px; margin: 30px 0px 0px 0px;
        background: rgba(255, 255, 255, 1); font-weight: 600;
        border-color:  rgba(230, 32, 72, 1);}

    button.btn-medium {padding: 0px 20px 0px 20px !important;
        font-size: medium; height: 50px !important;}

    a.button {color: white; text-decoration: none;}

    a.buttonCancel {color: rgba(230, 32, 73, 1);}

    button.edit, button.map {height: 30px !important;
        margin: 30px 10px 0px 10px !important;}

    button.btn-success:active {background-color:rgba(230, 32, 73, 0.8) !important;
        border: none !important;}

    button.btn-success:hover {box-shadow: 0px 0px 0 0.0rem rgba(255,255,255,1) !important;}

    /*TITULOS*/
    h1.title {text-align: center; margin: 0px 0px 25px 0px;
        color: rgba(230, 32, 73, 1);}

    h3.title {text-align: center; margin: 0px 0px 20px 0px;
        color: rgba(230, 32, 73, 1);}

    h6 {color: rgba(230, 32, 73, 1);}
    h5 {color: rgba(230, 32, 73, 1); text-align: center;}

    /*CONTENEDORES*/
    div.container {padding: 20px 30px 50px 30px;}

    div.mensajeAlUsuario {padding: 20px 30px 50px 30px;}

    div.templateDetail {padding: 20px 30px 50px 30px;}

    div.containerData {background-color: rgba(230, 32, 73, 0.2);
        padding: 20px 25px 30px 25px;}
    
    div.containerMessage {background-color: rgba(230, 32, 73, 0.2);
        padding: 50px 20px 50px 20px; margin: 50px 0px 50px 0px;}

    /*TEXTOS*/
    span{ font-weight: 700; color: rgba(230, 32, 73, 1);}

    label {color: rgba(230, 32, 73, 1);
        font-weight: 600;}
    
    p {color: rgba(230, 32, 73, 1);}
    #estadisticas_label
    {
        color: rgba(230, 32, 73, 1);
        text-align: center;
        margin: 2%;
        padding: 2%;
    }
    .plan_label
    {
        color: rgba(230, 32, 73, 1);
        text-align: left;   
        
    }

    hr {
        margin: 0px;
        padding: 0px;
        height: 2px;
        background-color: rgba(230, 32, 73, 1);
        
    }
    .caja_km{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 200;
        color:  rgba(230, 32, 73, 1);
        background-color:rgba(230, 32, 73, 0.2);
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
        float: right;
    }
    #km_text {
      float: left;
      color:  rgba(230, 32, 73, 1);
      margin-top: 5%;
      font-size:;
     
    }
    #km_recorridos {
        margin: 2% 2% 20% 2%;
        padding: 2%;
      
    }
    .text {
        text-align: left
        !important;
        margin-top: 10%;
        margin-left: 5%;
    }
    
    .text_value {
        text-align: left
        !important;
        margin-left: 5%;
    }
 }
 

/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: black;}
}
/*fin movil*/